html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 여기서부터 시작 */

#header {  /* div 의 id는 #으로 지정한다.*/
    display: flex;
	border-bottom: 1px solid #f1f3f5;
    height: 40px;

	justify-content: space-between;
    padding: 0 32px;
    color: #616568; 
    font-weight: 400;
    line-height: 3.0;
    letter-spacing: -.3px;
    font-size: 14px;
	padding-left: 10px;
	

}

#header_wrab { 
	display: flex;
    height: 100%;
	width: 1024px;
	border-bottom: 1px solid #f1f3f5;
	margin: 0 auto; /*중앙정렬*/
	display: flex; /*가로 정렬 */
	flex-direction: row;

    justify-content: space-between;
    padding: 0 32px;
    /* max-width: 1200px; */
    color: #616568; 
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px;
	text-decoration: none; 

	padding-left: 0px;
	
} 

.non_purple { 
	text-decoration: none; color: black; 
}
.non_purple:visited { 
	text-decoration: none; 
}
.non_purple:hover { 
	text-decoration: none; 
}

.non_purple:focus { 
	text-decoration: none; 
}
.non_purple:hover, a:active { 
	text-decoration: none; 
}


.header_content_left { 
	list-style:none;
	display: flex;
	line-height: 3.0;
	text-decoration: none; 
}



.change_green { 
	text-decoration: none; 
	color: black;
 }
.change_green:visited {  /* 마우스 한번클릭후 */
	text-decoration: none; 
}
.change_green:hover {  /* 마우스 오버(마우스 올렸을때) */
	text-decoration: none;  
	color: green;
}
.change_green:focus {
	 text-decoration: none; 
}

.header_content_right { 
	list-style:none;
	display: flex;
	line-height: 3.0;
}

/* 두번째 문단 */

#header_under { 

	height: 64px;
	width: 1200;
}

#header_under_content { 

	height: 100%;
	width: 1080px;
	margin: 0 auto; /*중앙정렬*/
	display: flex; /*가로 정렬 */
	flex-direction: row;
}

.inflearnlogo { 
	display: inline-flex;
    align-items: center;
    height: 100%;
}

.header_under_content_menu { 
	
	align-items: center;
	display: inline-flex;
	width: 100%;
	height: 64px;

	margin: 0 auto;
	display: flex; /*가로 정렬 */
	padding: 0 32px;
	padding-right: 0px;
}

.cource { 
	margin-right: 30px;
	width: 40px;
}
.loadmap{
	margin-right: 20px;

}
.mentoring { 
	margin-right: 5px;
}
.comunite{
	margin-right: 0px;
}
.inflean{
	margin-right: 30px;
}
.header_under_content_menu_right {

	display: flex;

	height: 64px;
	width: 270px;
	float: right;
}

.searchbox{ 
	align-items: center;
	display: inline-flex;
	
}
.searchbox_container-1{
		width: 300px;
		vertical-align: middle;
		white-space: nowrap;
		position: relative;
}

.search {
	position: relative;
	width: 300px;
  }
  
.textbox{
	width: 148px;
	border: 1px solid #f1f3f5;
	border-radius: 8px;
	padding: 10px 12px;
	font-size: 14px;
	background-color: ghostwhite;
	float: right;
	margin-right: 0px;
  }
  
.in_textbox{
	position : absolute;
	width: 16px;
	top: 10px;
	right: 12px;
	margin: 0;
  }


.loginbox{
	display: flex;
	border: none;
	box-shadow: none;
	margin-left: 100px; 
	border-radius: 4px;
	color: #4a4a4a;
	height: 64px;
	text-align:center;



}
.loginbox_login{
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 70px;
	height: 14px;
    background-color:white;
    color: black;
    border:none;
    border-radius:4px;
	border: 1px solid #dbdbdb;
	margin-right: 0.5rem;
	text-align:center;
	


}
.loginbox_login_right{
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 15px;

	text-align:center;
	width: 70px;
	height: 14px;
    border:none;
    border-radius:4px;
	background-color: #ff6d5a;
    border-color: transparent;
    color: #fff;
	border: 1px solid #dbdbdb;
}	


/* 여기서 부터 /* 자동 배너 슬라이스*/ 
.slideshow-container { 
	border: 1px solid seagreen; 
	width: 1	x; 
	height: 320px;
	position: relative;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
	overflow: hidden;
	white-space: nowrap;
}
  
.slide {
	position: absolute;  /* 절대 위치에 배치 */
	top: 0;  /* 위쪽에 위치 */
	left: 0;  /* 왼쪽에 위치 */
	width: 1535px;  /* 너비 1535px */
	height: 320px;  /* 높이 320px */
	display: block; /* change display to block */
	transition: transform 1s ease-in-out; /* add a transition for the transform property */
  }
  
.fade {

	animation-duration: 5s;  /* 애니메이션 지속 시간 5초 */
}
  
.cat {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* 자동배너 슬라이스 아래 메뉴 */
#autoslide_under {  /*전체 담는 네모*/
	border: 1px solid #f1f3f5;
	width: 1535px;
	height: 64px;

}
.under_container{ /* 실제로 담는 네모*/
	position: relative;
    display: grid;
    padding-top: 13.5px;
    grid-template-columns: 135px 33px 1fr 52px;
    height: 100%;
    max-height: 100%;
    cursor: default;
}
.controller{ /* 숫자 인덱스와 버튼들을 담는 div*/
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 135px;
    height: 36px;
    font-size: .875rem;
    color: #fff;
    border-radius: 20px;
    background-color: rgba(0,0,0,.5);
	margin-left: 220px;
}
.index-indicator {  /*인덱스 숫자를 담는 div*/
	margin-right: auto;
	
}
.current_index{ /* 인덱스 숫자*/
	font-weight: inherit;
    font-style: inherit;
}
.total_index { /* 인덱스 숫자*/
	font-weight: inherit;
    font-style: inherit;
}

.controller_button {  /*버튼을 담는 div*/
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
	margin-right: 10px;
	
	
}

#prev-btn {
	font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
	padding: 0;
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
}

#stop-btn { 
	font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
	padding: 0;
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
}

#next-btn { 
	font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
	padding: 0;
    background: none;
    border: 0;
    color: #fff;
    cursor: pointer;
}

.divider{  /* 인덱스 와 버튼 사이 중간에 나누는 선*/ 
	margin: 0 1rem;
    width: 1px;
    height: 36px;
    background-color: #f1f3f5;
	margin-left: 280px;
}

.moving_banner{ /*움직이는 아이콘들 담는 그릇*/
	border: 1px solid ;
	height: 36px;
	width: 700px;
	position: relative;
    overflow: hidden;
	margin-left: 300px;
}
.moving_banner_icon {/* 움직이는 아이콘들*/ 
	position: absolute;
    left: 50%;
    top: 0;
    display: flex;
    z-index: 71;
    height: 36px;
	justify-content: center;
	align-items: center;
	transform: translateX(-50%);
	overflow: hidden; /* hide overflowing elements */
	overflow-y: scroll; /* add a scrollbar */
}
.moving_banner_icon_leftline{ /* 그릇에서 왼쪽 끝*/
	position: absolute;
    top: 0;
    width: 15px;
    height: 36px;
    z-index: 72;
	display: none;
    left: 0;
    background-image: linear-gradient(90deg,#fff,hsla(0,0%,100%,0));
}
.moving_banner_icon_rightline { /* 그릇에서 오른쪽 끝*/
	position: absolute;
    top: 0;
    width: 15px;
    height: 36px;
    z-index: 72;
	display: none;
    right: 0;
    background-image: linear-gradient(90deg,#fff,hsla(0,0%,100%,0));
}
.moving_icon { /* 움직이는 아이콘들*/
	flex: 0 0 auto;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: .875rem;
    font-weight: 700;
    color: #495057;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1px #ced4da;
    background-color: #fff;
    cursor: pointer;
	margin-left: 8px;
	transition: all 0.3s ease-in-out;
	flex-shrink: 0;
	margin: 0 10px;
}


  .moving_icon.active {
	opacity: 1;
  }
  
  .slideshow-container:hover .moving_icon {
	right: -20px;
  }
  
  .slideshow-container:hover .moving_icon.active {
	right: -50px;
  }

.moving_icon.active {
	color: #00c471;
    box-shadow: inset 0 0 0 2px #00c471;
  }


  


/* 움직이는 아이콘 오른쪽 전체 아이콘 보는 버튼*/
 .openpage {
	font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,sans-serif;
	margin: 0;
	margin-left: -19rem;
    width: 36px;
    height: 36px;
    font-size: 1rem;
    color: #495057;
    border-radius: 36px;
    border: 1px solid #ced4da;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
    background-color: #fff;
    cursor: pointer;
	margin-right: 200px;

  }


#toggleButton:focus + .moving_banner #movingBannerIcon {
    /* display all span tags when the button is pressed */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.show-more-header{ /* 더보기 눌렀을때 나오는 진행중인 이벤트*/
	width: 700px;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 48px;
    border-bottom: 1px solid #e9ecef;
}
.e-close-show-more{
	color: #ced4da;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;
    background: none;
    border: 0;
    cursor: pointer;
}
.show-more-list{
	padding: 12px 20px 20px 12px;
	width: 740px;
	height: 48px;
	

}

.pagination-bullet{
	display: block;
    margin-top: 8px;
    margin-left: 8px;
	flex: 0 0 auto;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: .875rem;
    font-weight: 700;
    color: #495057;
    border-radius: 20px;
    box-shadow: inset 0 0 0 1px #ced4da;
    background-color: #fff;
    cursor: pointer;


}
h3 { 
	color: #212529;
    font-size: 1rem;
    font-weight: 700;
}
.hero-bullet{
	float: left;
}

ul {
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;	
}









/* 마우스오버시 하위메뉴 */
.lecture{
	width: 64px;
	margin-left: -20px;
	display: inline-block;
}
.dropbtn {
	height: 60px;
	background-color: white;
	color: black;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	text-align: center;

  }
  
  
  .dropdown {
	display: inline-block;
	
  }
  
  .dropdown-content {
	position: absolute;
	display: none;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 9999;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  .dropdown:hover .dropbtn {
	background-color: white
  }

.show-more-box{
	position: absolute;
	margin-left: 500px;

}
  /* 강의 카테고리 3단 드롭다운 메뉴*/
  